name: Deploy-uxpin

on:
  push:
    branches:
      - develop

jobs:
  deploy-uxpin:
    name: UXpin update
    runs-on: ubuntu-latest
    if: "github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v3
        with:
          ref: refs/heads/master
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/
      - name: Install Dependencies
        run: yarn
      - name: Push To UXpin-merge
        run: yarn push
        env:
          UXPIN_AUTH_TOKEN: ${{ secrets.UXPIN_AUTH_TOKEN }}
